.main
  .main__top
    .main__top-text
  .main__bottom
    .main__bottom-left
      .main__bottom-left__news
        Home
      .main__bottom-left__news__box
        .main__bottom-left__news__top
          .main__bottom-left__news__top__left
            = image_tag ("IMG_8286.PNG");
          .main__bottom-left__news__top__right
            %p 国内外のスキーの大会に出場したりしています
            %p スキーが大好きです
        .main__bottom-left__news__middle
          .main__bottom-left__news__middle__text
            %p プログラミングでウェブサービスを開発しています
          .main__bottom-left__news__middle__photo
            = image_tag ("code-kids2.png");
    .main__bottom-right
      .main__bottom-right__photo
        .main__bottom-right__photo__image
          = image_tag("IMG_0809.JPG");
      .main__bottom-right__name
        %p
          勝野天欄
      .main__bottom-right__me
        %p
          tech-expert 53期生 
        %p プログラミング修行中
        %p スキーの方では選手として活動していて、国内外の大会にも出場しています
      .main__bottom-right__box
        .top
          .insta
            = link_to ("https://www.instagram.com/tenra_katsuno123/") do
              %i.fab.fa-instagram
          .facebook
            = link_to ("https://www.facebook.com/Tenra-Katsuno-843361695788556/") do
              %i.fab.fa-facebook-square
        .bottom 
          .youtube
            = link_to ("https://www.youtube.com/channel/UCaQ0xGWuItQey6cJ7NVS8jg?view_as=subscriber") do
              %i.fab.fa-youtube
          .twitter 
            %i.fab.fa-twitter
        = link_to("/inquiry/index") do
          %p お問い合わせ
      

  